/* CSS styling for navbar */

			body {
				margin: 0px;
				padding: 0px;
			}

			#navbarMenu {
			    list-style-type: none;
			    margin: 0px;
			    padding: 0px;
			    overflow: hidden;
			    background-color: #333;
			    position: fixed;
			    top: 0;
			    width: 100%;
			    opacity: .9;
			}

			#navbarMenu li {
			    float: left;
			    margin: 0px 10px;
			}

			#navbarMenu li a {
			    display: block;
			    color: white;
			    text-align: center;
			    padding: 14px 16px;
			    text-decoration: none;
			    font-family: "Lucida Console";
			}

			#navbarMenu li a:hover:not(.active) {
			    background-color: #111;
			}

			#navbarMenu li .active {
			    background-color: #2255a5;
			}